.unidades-section-filters{
    height: 20%;
}
.unidades-data-div{
    height: 70%;
    margin-top: 5%;
}

@media(max-width:580px){
    .unidades-section-filters{
        height: 15%;
    }
    .unidades-data-div{
        height: 80%;
        margin-top: 40%;
        overflow-y: auto;
    }
}