.gastos-section-filters{
    height: 25%;
}
.gastos-data-div{
    height: 75%;
    margin-top: 5%;
}

@media(max-width:580px){
    .gastos-data-div{
        margin-top: 48%;
        overflow-y: auto;
    }
}