.ingresos-filter-heigth{
    height: 25%;
}
.ingresos-data-div{
    height: 75%;
    margin-top: 5%;
}

@media(max-width:580px){
    .ingresos-filter-heigth{
        height: 20%;
    }
    .ingresos-data-div{
        height: 80%;
        margin-top: 45%;
        overflow-y: auto;
    } 
}