@import "tailwindcss";
:root {
  --ant-message-content-bg: #f9f9f9;
  --bg-color-light: #ffffff;
  --text-color-light: #213547;
  --bg-color-dark: #242424;
  --text-color-dark: #ffffff;
  font-family: 'Rubik', sans-serif;
}
.btn-blue{
  color: #fff!important;
  font-weight: bold;
  background-color: #347EFF!important;
}
.btn-forgot-password{
  color: #fff!important;
  letter-spacing: 1px;
  background-color: transparent!important;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

.btn-text-black{
  color: #000!important;
}
a:hover {
  color: #747bff;
}

button {
  color: #fff;
}

.dark button {
  color: #fff;
}

li {
  position: relative;
}

li:hover::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-80%);
  width: 50%;
  border-bottom: 2px solid #747bff; /* Color morado */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1, h3, span{
  color: var(--text-color-light);
}

.dark h1, .dark h3, .dark span, .dark p .dark label{
  color: var(--text-color-dark);
}
.dark input{
  background-color: #141414;
  color: white;
}
.dark option{
  background-color: #141414;
  color: white;
}
.dark option:active, .dark option:focus, .dark option:hover {
  background-color: #141414;
  color: white;
}
.dark input:active, .dark input:focus, .dark input:hover {
  background-color: #141414;
  color: white;
}
.dark  .ant-popover .ant-popover-inner{
  background-color: #141414;
}
.dark .ant-popconfirm-inner-content .ant-popconfirm-title .ant-popconfirm-description{
  color: white!important;
}

input:active, input:focus, input:hover {
  border-color: #747bff!important;
}

.dark body {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
  --ant-message-content-bg: #424242;
}

.dark .ant-select-open{
  background-color: #141414;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-color-light);
    background-color: var(--bg-color-light);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.title-pages{
  font-weight: bold;
  font-size: 2rem;
  text-align: center!important;
}

.ant-modal{top: 5vh;}
.ant-message .ant-message-notice-wrapper .ant-message-notice-content {
 
  background: var(--ant-message-content-bg);
 
}

.center-item{
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: end;
}
.pages-option-container{
  display: flex;
}
.data-div{
  padding-top: auto;
}

@media (max-width: 580px) {
  .pages-option-container{
    width: 100%;
    flex-direction: column;
  }
  .center-item{
    width: 100%;
    margin-top: 15px;
  }
  .container-movil{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0!important;
    z-index: 10;
    top: 0;
    padding: 2rem;
    padding-bottom: 15px!important;
    height: auto;
    border-color: none!important;
  }
  .container-movil p{
    font-size: 1.8rem;
  }
  .dark .container-movil{
    background-color: #242424;
  }
  .data-div{
    padding-top: calc(var(--container-movil-height) );
  }
}


#div-filter-tabs {
  scrollbar-width: thin; /* Para navegadores Firefox */
  scrollbar-color: #747bff #747bff; /* Color del pulgar y del track para Firefox */
}

/* Estilos para navegadores basados en WebKit (Chrome, Safari) */
#div-filter-tabs::-webkit-scrollbar {
  height: 1px!important; /* Altura de la barra de desplazamiento horizontal */
}

#div-filter-tabs::-webkit-scrollbar-thumb {
  background-color: #747bff; /* Color del pulgar */
  border-radius: 10px; /* Bordes redondeados del pulgar */
}

#div-filter-tabs::-webkit-scrollbar-track {
  background-color: #747bff; /* Color del track */
}

