@import "tailwindcss";
:root {
  --bg-color-light: #ffffff;
  --text-color-light: #213547;
  --bg-color-dark: #242424;
  --text-color-dark: rgba(255, 255, 255, 0.87);
  font-family: 'Rubik', sans-serif;
}
.btn-blue{
  color: #fff!important;
  font-weight: bold;
  background-color: #347EFF!important;
}
.btn-forgot-password{
  color: #fff!important;
  letter-spacing: 1px;
  background-color: transparent!important;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
input{
  color: #ffff!important;
}

a:hover {
  color: #747bff;
}

button {
  background-color: #f9f9f9;
}

.dark button {
  background-color: #333333;
  color: var(--text-color-dark);
}

li {
  position: relative;
}

li:hover::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-80%);
  width: 50%;

  border-bottom: 2px solid #747bff; /* Color morado */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1, h3, span {
  color: var(--text-color-light);
}

.dark h1, .dark h3, .dark span {
  color: var(--text-color-dark);
}

.dark body {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-color-light);
    background-color: var(--bg-color-light);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}