.ingresos-filter-heigth{
    height: 25%;
}
.ingresos-data-div{
    height: 75%;
    margin-top: 5%;
}

@media(max-width:580px){
    .ingresos-data-div{
        margin-top: 50%;
        overflow-y: auto;
    } 
}