.div-btn-imprimir{
   height: 15%;
}
.contenido-factura{
    height:auto;
    padding: 10px;
    padding-bottom: 2rem!important;
}
@media(max-width:480px){
    .div-btn-imprimir{
        height: 10%;
    }
    
.contenido-factura{
    margin-top: 20%;
    height: 90%;
    padding-bottom: 0!important;
    overflow-y: auto;
}
}